<h2>Posts</h2>


<%if user_signed_in?%>
<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name %></td>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <%if current_user.name == post.user.name%>
          <%= render 'condition', post: post %>
        <% end %>  
      </tr>  
    <% end %>
  </tbody>
</table>

<%= link_to 'New Post', new_post_path %>
<% else %>
  <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

